footer {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    background-color: #5ca2ac;
    position: fixed; 
    bottom: 0;       
    width: 100%;     
    z-index: 1000;   
  }
  
  footer a {
    text-decoration: none;
  }
  
  footer img.footer-icon {
    width: 24px;
    height: 24px;
    display: inline-block;
  }
  
  footer img.footer-icon:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
  }
  